*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
    background: #e8e8e8;
    padding: 3.7rem;
}

footer{
    position:relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #fff;
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 1.6rem;
}

footer .container .sec h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer .container .sec p{
    color: #555;
}

footer .container .sci{
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: repeat(4,3.7rem);
}


footer .container .sci li{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

footer .container .sci li a{

    color:#333;
    border-radius: 50%;
    text-decoration: none;
}

footer .container .sci li a i{
    display:flex;
    align-items: center;
    justify-content: center;
    width:2rem;
    height:2rem;
    
}

#face {
    background-color: #4267b3;
}

#twit {
    background-color: #fff;
    border: 1px solid #333;
}

#insta {
    background: linear-gradient(#7f37c9,#ff2992,#ff9837);
}

#whats {
    background-color: #25d366;;
}


footer .container .quicklinks{
    position: relative;
}

footer .container .quicklinks ul li{
    list-style: none;
}

footer .container .quicklinks ul li a{
    color:#555;
    text-decoration: none;
    margin-bottom: 0.8rem;
    display:inline-block;
}

footer .container .contact .info{
    position: relative;
}

footer .container .contact .info li{
    display:grid;
    grid-template-columns: 1.8rem 1fr;
    margin-bottom: 1rem;
}

footer .container .contact .info li span{
    color:#555;
    font-size: 1.3rem;
}

footer .container .contact .info li a{
    color:#555;
    text-decoration: none;
}

.copyrightText{
    width: 100%;
    background-color: #fff;
    padding: 2.4rem auto;
    text-align: center;
    color:#555

}

@media (max-width: 991px){
    footer{
        padding:40px;
    }

    footer .container{
        width:100%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;
    }
}

@media(max-width:768px){
    footer .container{
        width:100%;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
    }
}



